<div class="col s12 m12 opp">
  <div class="col s12 m7 side-text">
    <h5>
      <mat-icon>spa</mat-icon>
      Nous vous offrons aussi d'autres services
    </h5>
    <div>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>store</mat-icon>
          <p mat-line>
            Plan Architecture (2D, 3D, maquette vidéo)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>public</mat-icon>
          <p mat-line>
            Création de sites web (Blog, E-commerce, E-learning, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>videocam</mat-icon>
          <p mat-line>
            Plateforme de visio-conférence en local (sur votre serveur) pour vos
            communication interne
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>school</mat-icon>
          <p mat-line>
            Des formations en SIG, Télétection, MNT, Développement Web et
            Mobile, ...
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>business_center</mat-icon>
          <p mat-line>
            Des outils d'analyse : géo-marketing, développement de statégie de
            proximité, ...
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>dns</mat-icon>
          <p mat-line>
            Conception et création de base de données (SQL, NoSQL, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>edit_location</mat-icon>
          <p mat-line>
            Topographie (levés, implantation, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>event_note</mat-icon>
          <p mat-line>
            Conception et analyse de projets
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>local_mall</mat-icon>
          <p mat-line>
            Et beaucoup plus encore ...
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="img-container col s12 m5"></div>
</div>
