<div class="col s12 m12 sect">
  <div class="img-container col s12 m5"></div>
  <div class="col s12 m7 side-text">
    <h5>
      <mat-icon>bolt</mat-icon>
      Avec la puissance des SIG, combinée à la Télédétection, nous transformons
      vos données en support d'aide à la décision.
    </h5>
    <div>
      <mat-list>
        <h3 mat-subheader class="hide-on-small-only">
          <span>
            Et avec une couche
            <a
              class="hover-fade"
              href="https://fr.wikipedia.org/wiki/Apprentissage_profond"
              target="_blank"
              >le Deep-Learning</a
            >
            pour gérer vos prévision avec plus de précision.</span
          >
        </h3>
        <mat-list-item>
          <mat-icon mat-list-icon>waves</mat-icon>
          <p mat-line>Dynamique de l'occupation du sol</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>explore</mat-icon>
          <p mat-line>Couverture scolaire, sanitaire, sécuritaire, ...</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>nature</mat-icon>
          <p mat-line>Analyse dé la biomasse (santé, évolution , ...),</p>
        </mat-list-item>
        <mat-list-item>
          <i
            class="fas fa-route"
            style="font-size:16px; top: 4px; position: relative;"
            mat-list-icon
          ></i>
          <!-- <mat-icon mat-list-icon>streetview</mat-icon> -->
          <p mat-line>
            Planification et analyse d'itinéraires
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>terrain</mat-icon>
          <p mat-line>
            Relief (MNT, Pentes, zones de cuvette, zones dépresionnaires, réseau
            hydrographique, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>wb_sunny</mat-icon>
          <p mat-line>
            Analyse multicritère (inondation, zones favorable à l'agriculture,
            ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>group</mat-icon>
          <p mat-line>
            Démographie (densité de la population, migration, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>bubble_chart</mat-icon>
          <p mat-line>
            Vulnérabilité (feu de brousse, déforestation, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>image_search</mat-icon>
          <p mat-line>Zones de changement (construction, déforestation, ...)</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>how_to_reg</mat-icon>
          <p mat-line>
            Etude de l'impact d'une construction (couverture, ...)
          </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <p mat-line>
            Et beaucoup plus encore ...
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
