<section class="top container section">
  <div class="row">
    <h5>
      <img src="https://img.icons8.com/color/48/000000/stack-of-photos.png" />
      Album de la campagne présidentielle
    </h5>
    <div class="carousel carousel-slider col s12 m12">
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/1.jpeg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/2.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/3.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/4.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/5.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/6.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/7.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/8.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/9.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/10.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/11.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/12.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/13.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/14.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/15.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/16.jpeg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/17.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/18.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/19.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/20.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/21.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/22.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/23.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/24.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/25.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/campagnes/27.jpg"
          class="item materialboxed"
          #materialboxed
        />
      </div>
    </div>
  </div>
</section>
<el-footer></el-footer>
