<footer class="page-footer grey darken-3">
  <div class="row">
    <div class="col s12 m4 center-content ct">
      <img src="../../../assets/images/logo.png" alt="Open-Technology" />
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>account_balance</mat-icon>
          <p mat-line>Open-Technology 4E Inc</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>pin_drop</mat-icon>
          <p mat-line>Hann Maristes, Ilot C79</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>email</mat-icon>
          <p mat-line>opentechnology.4e@gmail.com</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>phone</mat-icon>
          <p mat-line>+221 778554015</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col s12 m6 offset-m2 desc">
      <h5 class="white-text">
        <mat-icon>contact_support</mat-icon>Why Open-Technology 4E Inc?
      </h5>
      <p>
        Il fut un temp le CEO ,<a
          class="hover-fade"
          href="https://www.linkedin.com/in/sidy-mbengue-a17000143/"
          target="_blank"
        >
          SIdy Mbengue "Brain-On-Everything" </a
        >, faisait beaucoup de recherches pour trouver une entreprise offrant
        des services inovants liés à la géomatique avec l'exploitation de
        l'information spatiale appliquée aux dernières avancés technologiques.
        Pendant quelques mois avec des résultats pas convaiquants, il a décidé
        de suivre les formations requises et de le créer lui même. Notre
        culture, notre force : Inovation<mat-icon class="bolt">bolt</mat-icon>.
      </p>
    </div>
    <div class="col s12 m12 center-content">
      <p class="social hide-on-med-and-down">
        <a href="https://web.facebook.com/sidyakon" target="_blank">
          <i class="fab fa-facebook-square"></i>Facebook
        </a>
        <a
          href="https://www.linkedin.com/in/sidy-mbengue-a17000143/"
          target="_blank"
          ><i class="fab fa-linkedin"></i>LinkedIn
        </a>
        <a href="https://twitter.com/mbengue_sidy" target="_blank"
          ><i class="fab fa-twitter-square"></i>Twitter
        </a>
        <a href="https://github.com/sidymbengue25" target="_blank"
          ><i class="fab fa-github-square"></i>GitHub
        </a>
        <a
          href="https://www.youtube.com/channel/UCGtv2H-JS6ZuzJS5jXqTKmQ?view_as=subscriber"
          target="_blank"
          ><i class="fab fa-youtube-square"></i>Youtube
        </a>
        <a href="https://www.instagram.com/mbenguesidy/?hl=fr" target="_blank"
          ><i class="fab fa-instagram"></i>Instagram
        </a>
      </p>
      <p class="social hide-on-med-and-up">
        <a href="https://web.facebook.com/sidyakon" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/sidy-mbengue-a17000143/"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/mbengue_sidy" target="_blank"
          ><i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://github.com/sidymbengue25" target="_blank"
          ><i class="fab fa-github-square"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UCGtv2H-JS6ZuzJS5jXqTKmQ?view_as=subscriber"
          target="_blank"
          ><i class="fab fa-youtube-square"></i>
        </a>
        <a href="https://www.instagram.com/mbenguesidy/?hl=fr" target="_blank"
          ><i class="fab fa-instagram"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="footer-copyright grey darken-4 col s12">
    <div class="container center-align">&copy; Open-Technology 4E Inc</div>
  </div>
</footer>
