<section class="section col s12 m12">
  <h5>
    <mat-icon>group</mat-icon>
    Une équipe dynamique et flexible pour vous aider dans vos prises de décision
  </h5>
  <div class="col s12 m4">
    <div class="card-panel teal horizontal z-depth-1 hoverable center">
      <div>
        <img
          src="https://img.icons8.com/color/48/000000/layers.png"
          alt="Cartographie"
        />
        <h6>Cartographie</h6>
      </div>
      Les cartes permettent de communiquer et de transmettre de grandes
      quantités d'informations d'une façon organisée et compréhensible
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal horizontal z-depth-1 hoverable center">
      <div>
        <img
          src="https://img.icons8.com/color/48/000000/satellite-in-orbit.png"
          alt="Télédétection"
        />
        <h6>Télédétection</h6>
      </div>
      Pour faire des études complexes sur de vastes étendues de surface grace à
      la puissance du Soleil et des satellites d'observation terreste
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal horizontal z-depth-1 hoverable center">
      <div>
        <img
          src="https://img.icons8.com/color/48/000000/positive-dynamic.png"
          alt="Analyse Statistique"
        />
        <h6>Analyse Statistique</h6>
      </div>
      La Statistique est un outil puissant pour faire parler vos données :
      évolution, couverture, impact, ...
    </div>
  </div>
  <div class="col s12 m4 offset-m2">
    <div class="card-panel teal horizontal z-depth-1 hoverable center">
      <div>
        <img
          src="https://img.icons8.com/color/48/000000/globe.png"
          alt="Web-mapping"
        />
        <h6>Web-mapping</h6>
      </div>
      Plateforme web-mapping pour rendre vos données accessible dans le cloud
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel teal horizontal z-depth-1 hoverable center">
      <div>
        <img
          src="https://img.icons8.com/color/48/000000/virtual-reality.png"
          alt="AI analysis"
        />
        <h6>AI analysis</h6>
      </div>
      Utilisation de la puissance de l'<a
        href="https://fr.wikipedia.org/wiki/Intelligence_artificielle"
        class="hover-fade"
        target="_blank"
        >Intelligence-Artificielle</a
      >
      pour vos aider sur l'élaboration de vos stratégies avec minimum de risque
    </div>
  </div>
  <!-- <div class="col s12 m12 center"><oc-join-btn></oc-join-btn></div> -->
</section>
