<header>
  <div class="carousel carousel-slider center">
    <div class="carousel-item brown macky" href="#one!">
      <h2>Macky Sall</h2>
      <p>Benno Bokk Yakar</p>
    </div>
    <div class="carousel-item orange darken-2 idy" href="#two!">
      <h2>Idrissa Seck</h2>
      <p>La coalition gagnante IDY 2019</p>
    </div>
    <div class="carousel-item red  sonko" href="#three!">
      <h2>Ousmane Sonko</h2>
      <p>PASTEF</p>
    </div>
    <div class="carousel-item gren darken-3 issa" href="#four!">
      <h2>El'hadji Issa Sall</h2>
      <p>PUR</p>
    </div>
    <div class="carousel-item yellow madicke" href="#four!">
      <h2>Madické Niang</h2>
      <p>Coalition Madické 2019</p>
    </div>
  </div>
</header>
<div class="section">
  <el-page
    [data]="data"
    [isCountry]="true"
    [addShowMore]="true"
    [headerText]="'Résultats du scrutin présidentiel du 24 Février 2019'"
  ></el-page>
</div>
