header {
  padding-top: 30vh;
<<<<<<< HEAD
  background-image: url("../../../assets/images/about.jpg");
=======
  background-image: url("/assets/images/about.jpg");
>>>>>>> 89cb6a382540a3c5ee519a2d32996a25380d4896
}
